@font-face{
    font-family: 'myanmar-sangam-mn';
    src: url('../fonts/myanmar-sangam-mn.ttf');
}
body{
    font-family: 'myanmar-sangam-mn';
    color:white;

}
a:hover{
    text-decoration: none;
}
#main{
    width:100%;
    height:100%;
    position: relative;
    padding-top:80px;
    z-index: 1;
}
.overlay{
    background-color:#000;
    z-index: -1;
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
#main:before{
    background-image: url("../images/books.png");
    content: "";
    position: absolute;
    width:100%;
    height:100%;
    opacity: .15;
    z-index:0;
    top:0;
    left:0;
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    width:100%;
}
.whiteFooter{
    content: "";
    position: absolute;
    width:100%;
    z-index:1;
    left:0;  
    bottom:0;
    right:0;
}
.logo{
    width:160px;
    margin-bottom:50px;
}
.mainHero h1{
    font-size:37px;
}
.mobileImg{
width:100%;
}
.signBtn{
background-color:white;
border-radius: 25px;
display: block;
margin-top:42px;
text-align: center;
cursor: pointer;
width:150px;
height:49px;
vertical-align: middle;
}
.signForm{
    width:100%;
    background-color: white;
    border-radius: 8px;
    padding:28px;
}
.signForm h2{
    font-size:30px;
    color:black
}
.signForm span{
    font-size:14px;
    color:#A1A1A1;
}
.signInfoForm{

width:100%}
.signInfoForm  .form-group{
    margin-top:20px;
    position: relative;
}
.signInfoForm label{
    font-size:14px;
    margin:0;
    color:black;
}
.signInfoForm .form-control,.subscribeinput{
border:1px solid #EBEBEB;
width:100%;
border-radius: 4px;
border-left:2px solid #5BBDB7;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
color:#BDBDBD;
font-size:13px;
height:45px;

}
.signInfoForm .form-control:focus,.subscribeinput:focus{
    box-shadow: none;;
}
.signInfoForm .form-control::placeholder{
    font-size:13px;
    color:#BDBDBD;
}
.form-group i{
position: absolute;
right: 7%;
color: #BEBEBE;
cursor: pointer;
top: 48%;
}
.signFormBtn{
    width:100%;
    text-align: center;
    color:white;
    border-radius: 4px;
    background-color: #5BBDB7;
    margin-top:28px;
    font-size:15px;
    height:45px;
}
.forgetPassword{
    font-size:14px;
    color:black;
    text-align: center;
    display: block;
    margin-top:22px;
}
.signFormBtn:hover{
box-shadow: 1px 1px 8px 2px rgba(0,0,0,.2);
   transition: all .5s;;
   color:white;
}
header{
    background-color:white;
    height: 70px;
}
.homeLogo{
    width:250px;
    border-right: 1px solid #D8D8D8;
    display: inline-block;
}
.subscribe{
    margin-left:25px;
    width:335px;
    position: relative;
    display: inline-block;
}
.subscribeinput{
    width:100%;
    background-color:#F9FAFC;
    border-radius: 21px;
    height:43px;
    border:0;
}
.subBtn {
    background-color: #5BBDB7;
    border-radius: 25px;
    position: absolute;
    right:5px;
    top:5px;
    height:34px;
    width:116px;
    text-align: center;
    color:white;
    font-size: 14px;
}
.subBtn:hover{
    color:white;
}
.blackCircle{
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color: black;
    margin:0 auto;
  }
.fAQ,.notification,.personalInfo{
    border-left: 1px solid #D8D8D8 ;
    display: inline-block;
    padding:0 25px;
    padding-top:7%;
    height:70px;
float: left;
}
    .notification i{
        color:black;
        font-size:20px;
    }
#homeBody{
    background-color: #F9FAFC;

}
.content{
    background-color: #F9FAFC;
padding:25px  40px;
}
.personalInfo{
    cursor: pointer;
    display: table;
}
.personaImg{
width: 36px;
height:36px;
border-radius: 50%;
overflow:hidden;
margin-right:16px;
display: inline-block;}
.personName{
    display: inline-block;
    font-size:15px;
    color:black;
    display: table-cell;
    vertical-align: middle;
}
.bookBox{
    width:219px;
    padding:17px;
    background-color: white;
    border-radius: 15px;;
    display: inline-block;
    margin-right:25px;
    margin-bottom: 30px;
}

.bookImg{
    width:169px;
    margin:0 auto;
    height:188px;
    overflow: hidden;
    border-radius: 6px;
}
.bookDetails{
    margin-top:10px;
}
.bookDetails h6{
color:#5BBDB7;
font-size: 17px;
}
.bookDetails p{
    font-size: 14px;
    color:#ACACAC;
    margin:0;
}
@media(min-width:350px) and (max-width:767px){
    header{
        height: auto;
    }
    .homeLogo{
        width:50%;
    }
}